/* .right{
    float: right;
    background-color: cadetblue;
} */
#navbarNav button{  
position: absolute;
right: 40px;
width: 100px;
border: none;
font-size: 18px;
background: #fc4a1a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

border-radius: 10px;
padding: 5px 0;
top: 9px;
}
.navbar-brand{
    color: #fc4a1a;
    font-weight: bold;
    
}

